.jumbotron {
    background-color: cornflowerblue;
    color: blue;
    margin-top: 50px
}

footer {
    padding: 15px 15px 15px 15px;
    background-color: greenyellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
}

.btn-reserva {
    width: 100%;
}