$azulClaro: #4ad8ff;
$azulOscuro: #1979ff;
$amarillo: #f4ff8f;
@mixin margenes($bottom, $top) {
    margin-bottom: $bottom;
    margin-top: $top;
}

.jumbotron {
    background-color: $azulClaro;
    color: $azulOscuro;
    @include margenes(0px, 50px)
}

footer {
    padding: 15px 15px 15px 15px;
    background-color: $amarillo;
    @include margenes(0px, 10px)
}

.card-hotel {
    flex: 1 150px;
}

.btn-reserva {
    width: 100%;
}