.jumbotron {
  background-color: #4ad8ff;
  color: #1979ff;
  margin-bottom: 0px;
  margin-top: 50px; }

footer {
  padding: 15px 15px 15px 15px;
  background-color: #f4ff8f;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px; }

.btn-reserva {
  width: 100%; }
