@azulClaro: #4ad8ff;
@azulOscuro: #1979ff;
@amarillo: #f4ff8f;
.margenes(@bottom: 0px, @top: 0px) {
    margin-bottom: @bottom;
    margin-top: @top;
}

.jumbotron {
    background-color: @azulClaro;
    color: @azulOscuro;
    .margenes(0px, 50px)
}

footer {
    padding: 15px 15px 15px 15px;
    background-color: @amarillo;
    .margenes(0px, 10px)
}

.card-hotel {
    flex: 1 150px;
}

.btn-reserva {
    width: 100%;
}